:root {
  --white-color: #fff;
  --background-hero: #06071b;
  --title-cl: #000;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header-container {
  display: flex;
}

.nav {
  margin-left: auto;
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobmenu-btn-open {
  margin-left: auto;
  display: block;
  border: none;
  background: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.mobmenu-btn-close {
  display: block;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 32px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  background: #07081c;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  padding-top: 34px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.modal-button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-list {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.mobile-menu::after {
  content: "";
  width: 375px;
  height: 229px;
  top: 354px;
  position: absolute;
  filter: blur(110.5px);
  transform: rotate(53.634deg);
  z-index: -1;
  background: rgba(0, 197, 235, 0.3);
}

.mobile-menu-link {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.logo-mobile {
  color: var(--white-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
}
.logo {
  color: var(--white-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 19px;
  padding-bottom: 19px;
  display: inline-block;
}

.header {
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
  backdrop-filter: blur(17.5px);
}

.nav-link {
  color: var(--white-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 29px;
  padding-bottom: 28px;
  display: inline-block;
}
.header-studio-color {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--linear, linear-gradient(99deg, #00c5eb 0%, #b544fe 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-menu-link {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Hero */
.hero {
  padding-top: 145px;
  padding-bottom: 146px;
  background-color: var(--background-hero);
  /* background-image: url(../img/hero-image.png); */
}
.hero-caption {
  color: var(--white-color);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}
.hero-caption-second {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}
.hero-list {
  margin-bottom: 62px;
}
.hero-list-item:not(:last-child) {
  margin-bottom: 14px;
}
.hero-list-text {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.hero-btn {
  border: none;
  max-width: 200px;
  padding: 12px 60px;
  border-radius: 5px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  color: var(--white-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
.hero-btn:hover {
  background: #06071b;
  border: 1px solid linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
.hero-btn:focus {
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
.section-features {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: 00C5EB, B544FE; */
}

.features-title {
  color: var(--title-cl);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 80px;
  text-align: center;
}

.features-text {
  color: var(--title-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  margin-bottom: 117px;
  max-width: 855px;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 54px 492px;
}

.features-list-item {
  width: calc((100% - 492px) / 2);
}
.features-item-title {
  color: var(--title-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  margin-bottom: 13px;
}
.features-item-text {
  color: var(--title-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.container-features {
  width: 1003px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
