:root {
  --white-color: #fff;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.header-container {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  color: var(--white-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 19px;
  padding-bottom: 19px;
  display: inline-block;
}

.header {
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
  backdrop-filter: blur(17.5px);
}

.nav-link {
  color: var(--white-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 29px;
  padding-bottom: 28px;
  display: inline-block;
}
