:root {
  --white-color: #fff;
  --background-hero: #06071b;
  --title-cl: #000;
}

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}

.header-container {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo {
  color: var(--white-color);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 19px;
  padding-bottom: 19px;
  display: inline-block;
}

.header {
  background: linear-gradient(
    99deg,
    rgba(0, 197, 235, 0.3) 0%,
    rgba(181, 68, 254, 0.3) 100%
  );
  backdrop-filter: blur(17.5px);
}

.nav-link {
  color: var(--white-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 29px;
  padding-bottom: 28px;
  display: inline-block;
}

/* Hero */
.hero {
  padding-top: 145px;
  padding-bottom: 146px;
  background-color: var(--background-hero);
  /* background-image: url(../img/hero-image.png); */
}
.hero-caption {
  color: var(--white-color);
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}
.hero-caption-second {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
}
.hero-list {
  margin-bottom: 62px;
}
.hero-list-item:not(:last-child) {
  margin-bottom: 14px;
}
.hero-list-text {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.hero-btn {
  border: none;
  max-width: 200px;
  padding: 12px 60px;
  border-radius: 5px;
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
  color: var(--white-color);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
.hero-btn:hover {
  background: #06071b;
  border: 1px solid linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
.hero-btn:focus {
  background: linear-gradient(99deg, #00c5eb 0%, #b544fe 100%);
}
.section-features {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: 00C5EB, B544FE; */
}

.features-title {
  color: var(--title-cl);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 80px;
  text-align: center;
}

.features-text {
  color: var(--title-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  margin-bottom: 117px;
  max-width: 855px;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 54px 492px;
}

.features-list-item {
  width: calc((100% - 492px) / 2);
}
.features-item-title {
  color: var(--title-cl);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  margin-bottom: 13px;
}
.features-item-text {
  color: var(--title-cl);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.container-features {
  width: 1003px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
